* {
    font-family: IBM Plex Sans;
}
  

h1, h2, h3, h4, h5, h6 {
    font-family: IBM Plex Serif;
}

.jumbotron {
    background-color: #363636;
    padding: 1em;
    text-align: center;
}

.post-content img {
    max-width: 100%;
}
  